@import "./_variables.scss";
@import "./reset.scss";
@import "./header.scss";
@import "./player.scss";

body {
  background-color: $black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.upload__container {
  width: 100%;
  .upload__video {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    video {
      max-width: 30%;
      margin-bottom: 10px;
    }
    button {
      box-sizing: border-box;
      border-radius: 5px;
      padding: 15px;
      border: 0;
      font-size: 1rem;
      color: white;
      background-color: #ff0000;
    }
  }
}

.message {
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 25px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 5s;
  &.error {
    background-color: tomato;
    color: white;
  }
  &.success {
    background-color: #00b300;
    color: white;
  }
  &.info {
    background-color: #00b3b3;
    color: white;
  }
  &.warning {
    background-color: #ffcc00;
    color: white;
  }
}

input[type="file"] {
  background-color: white;
}

.form-container {
  display: flex;
  width: 100% !important;
}

.login__form {
  width: 100%;
  height: 400px !important;
  max-width: 480px;
  margin: 0 auto;
  margin-top: 50px;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
  flex-direction: column;
  gap: 8px;
  border-radius: 10px;
  background-color: #fafafa;
  position: relative;

  h1 {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #222;
    text-align: left;
    box-sizing: border-box;
  }

  & input,
  button {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px;
    border: 0;
    font-size: 1rem;
  }

  & input {
    border: 1px solid #e0e0e0;
  }

  & button {
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    margin-top: 10px;
  }

  & hr {
    width: 100%;
    margin: 10px 0;
  }

  .github {
    margin-top: -5px;
    background-color: #232323 !important;
    color: white;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px;
    border: 0;
    font-size: 1rem;
    text-align: center;

    i {
      padding-left: 10px;
    }
  }

  input[type="file"] {
    padding: 15px !important;
  }
}

.join {
  gap: 10px;
  color: #222;
  font-size: 0.9rem;
  margin-top: 10px;

  a {
    text-decoration: underline;
    font-weight: 600;
  }

  &__form {
    height: 533px !important;
  }
}

.error-container {
  max-width: inherit;
  height: auto;
  padding: 10px;
  position: absolute;
  bottom: -50px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.divides {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  gap: 30px;
}
.dropbtn {
  background-color: #ea2129;
  color: white;
  width: 30px;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 100%;
  font-size: 1rem;
  border: none;
  text-transform: uppercase;
}

.dropdown {
  position: relative;
  display: inline-block;
  place-self: center end;
  margin-right: 25px;

  & img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -15px;
  min-width: 320px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  .menu__item {
    width: 100%;
    display: flex;
    gap: 20px;
    color: #222;
    padding: 15px 20px;
  }

  .profile {
    display: flex;
    padding: 15px;
    gap: 15px;
    border-bottom: 1px solid #e0e0e0;
    color: black;

    &__img {
      display: flex;
      width: 40px;
      height: 40px;
      align-items: flex-start;

      & img {
        width: inherit;
        height: inherit;
        border-radius: 100%;
      }

      p {
        width: inherit;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        border-radius: 100%;
        color: white;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    &__info {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      & a {
        margin: 0;
        padding: 0;
        color: #0066ff;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

.dropdown-content a {
  color: black;
  box-sizing: border-box;
  text-decoration: none;
  display: block;
  overflow: hidden;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
  height: calc(100vh - 50px);
  display: flex;
}

section {
  width: 100%;
}

.aside {
  width: 13%;
  height: 100%;
  padding: 15px 5px;
  box-sizing: border-box;
  &-menu {
    width: 100%;
    display: flex;
    gap: 30px;
    padding: 10px 25px;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 0.9rem;
    align-items: center;

    i {
      font-size: 1.2rem;
    }

    span {
      font-weight: 600;
      margin-left: 45px;
      font-size: 1rem;
    }

    &:hover {
      background-color: #e0e0e0;
    }
  }
}

.hashtags {
  width: 100%;
  padding: 10px 30px;
  gap: 10px;
  display: flex;
  box-sizing: border-box;
  overflow: scroll;

  .active {
    background-color: black !important;
    color: white;
  }

  & a {
    color: #222;
    background-color: #eee;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: black;
      color: white;
    }

    &.active {
      background-color: #666;
      color: white;
    }
  }
}

.videos-container {
  width: 100%;
  padding: 10px 30px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: 1fr;
  gap: 20px;

  .video {
    cursor: pointer;
    &__img {
      width: 100%;
      height: 200px;
      background-color: #eee;
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-info {
      display: flex;
      align-items: flex-start;
      margin-top: 10px;
      // border: 1px solid orange;

      &__user {
        display: flex;
        width: 40px;
        height: 40px;
        align-items: flex-start;
        justify-content: center;
        padding: 0px 10px;
        // border: 1px solid blue;
        img {
          width: 30px;
          height: 30px;
          border-radius: 100%;
        }
        p {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: red;
          border-radius: 100%;
          color: white;
          text-transform: uppercase;
          font-size: 1rem;
          font-weight: 600;
        }
      }

      &__video {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1 {
          font-weight: 600;
        }

        h3 {
          font-weight: 400;
          font-size: 0.9rem;
          color: #666;
        }
      }
    }
  }
}

.video-detail {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  height: 90%;
  position: relative;

  &__video {
    width: 100%;
    height: 80%;
    background-color: #eee;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    width: 100%;
    height: auto;
    padding: 15px 3px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & div:first-child {
      display: flex;
      flex-direction: column;
      gap: 15px;
      font-size: 1.2rem;
      h1 {
        font-weight: 600;
      }

      h3 {
        font-weight: 400;
        font-size: 0.8rem;
        color: #666;
      }
    }

    & div:last-child {
      display: flex;
      gap: 10px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ff0000;
        color: white;
        padding: 10px;
        border-radius: 100%;
        box-sizing: border-box;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &__user {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
    display: flex;
    align-items: flex-start;
    gap: 15px;

    & div:first-child {
      display: flex;
      justify-content: flex-start;
      gap: 15px;
      font-size: 1.2rem;

      img,
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 40px;
        height: 40px;
        border-radius: 100%;
      }
    }

    & div:last-child {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      // margin-top: -20px;
      gap: 25px;

      h1 {
        font-weight: 600;
        font-size: 1rem;
        color: black;
      }

      div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;

        a {
          color: #222;
          background-color: #eee;
          text-decoration: none;
          font-size: 0.9rem;
          padding: 10px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          gap: 5px;
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: black;
            color: white;
          }

          &.active {
            background-color: #666;
            color: white;
          }
        }
      }
    }
  }

  &__comment-section {
    padding: 20px 0;

    &__text {
      h1 {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 20px;
      }
    }

    &__comment {
      width: 100%;
      height: auto;
      display: flex;
      align-items: flex-start;
      gap: 15px;

      &-avatar {
        width: 40px;
        height: 40px;

        img,
        p {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
        }
      }

      &-form {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        textarea {
          width: 100%;
          border: 1px solid #eee;
          border-radius: 5px;
          padding: 10px;
          box-sizing: border-box;
          font-size: 1rem;
          resize: none;
          outline: none;
        }

        button {
          width: 100px;
          height: 40px;
          border: none;
          border-radius: 5px;
          background-color: #ff0000;
          color: white;
          font-size: 1rem;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          padding: 10px;
          &:hover {
            background-color: #ff3333;
          }
        }
      }
    }
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  // max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    // border: 1px solid #eee;
    background-color: #fafafa;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    color: black;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }
}
