extends base

block content
    form(method="POST").login__form.join__form
        h1 회원가입
        input(placeholder="이름", name="name", type="text", required)
        input(placeholder="이메일", name="email", type="email", required)
        input(placeholder="사용자명", name="username", type="text", required)
        input(placeholder="비밀번호", name="password", type="password", required)
        input(placeholder="비밀번호 확인", name="password2", type="password", required)
        input(placeholder="지역", name="location", type="text", required)
        button 회원가입

        .join
            span 이미 계정이 있으신가요? 
            a(href="/login") 로그인 &rarr;

        if errorMessage
            .error-container 
                span=errorMessage