extends ../base

block content
    form(method="post").login__form
        input(placeholder="기존 패스워드",type="password", name="oldPassword")
        input(placeholder="새 패스워드",type="password", name="newPassword")
        input(placeholder="새 패스워드 확인",type="password", name="newPasswordConfirmation")
        button 패스워드 변경

    if errorMessage
        .error-container 
            span=errorMessage